<div id="skipToContent" class="accessibility">
  <dl>
    <dt>Genveje:</dt>
    <dd><a href="#tabs" title="Gå direkte til loginvalg" accesskey="1">Loginvalg</a></dd>
    <dd><a href="#content" title="Gå direkte til hovedindhold" accesskey="2">Hovedindhold</a></dd>
  </dl>
</div>


